# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# 환경 변수
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# 데이터베이스
*.db
*.sqlite

# 로그
*.log

# OS
.DS_Store
Thumbs.db

# md
report-soo/